alias_method :<%= @method.downcase %>_without_new_relic, :<%= @method.downcase %>

def <%= @method.downcase %><%= "(#{@args})" if @args %>
  <%= @method.downcase %>_with_tracing<%= "(#{@args})" if @args %> do
    <%= @method.downcase %>_without_new_relic<%= "(#{@args})" if @args %>
  end
end
