# This file is distributed under New Relic's license terms.
# See https://github.com/newrelic/newrelic-ruby-agent/blob/main/LICENSE for complete details.
# frozen_string_literal: true

module NewRelic::Agent::Instrumentation
  module <%= @class_name %>
    # This defaults to the name of the current module without any prefixes
    # If that is not the appropriate name, set INSTRUMENTATION_NAME
    # to a different string
    # Example: lib/new_relic/agent/instrumentation/sidekiq/client.rb
    INSTRUMENTATION_NAME = NewRelic::Agent.base_name(name)

    def <%= @method.downcase %>_with_new_relic<%= "(#{@args})" unless @args.empty? %>
      NewRelic::Agent.record_instrumentation_invocation(INSTRUMENTATION_NAME)
      # add instrumentation content here
      yield
    end
  end
end
