.ruby-version
Gemfile.lock
Guard*
.DS\_Store
.svn/
*~
*.rbc
pkg/
*.gem
!rails
.idea/
tmp/
TAGS
tags
*.swp
*.swo

coverage
/doc/
/log/
/lerg/
gems/newrelic_rpm.gemspec
gems/newrelic_rpm*.tar.gz
lib/new_relic/build.rb
.pryrc
.tm_properties
.bundle
.yardoc
artifacts/
test/performance/log/
test/performance/script/log/
infinite_tracing/log/
test/fixtures/cross_agent_tests/*/README.md
node_modules/
yarn.lock
package-lock.json
errors.txt
.history/
vendor/
Brewfile.lock.json
.github/actions/simplecov-report/lib/
test/minitest/minitest_time_report
