Gemfile.lock
.DS\_Store
.svn/
*~
*.rbc
pkg/
*.gem
!rails
Manifest*
.idea/
tmp/
TAGS
tags
*.swp
*.swo

/log/
/lerg/
gems/newrelic_rpm.gemspec
gems/newrelic_rpm*.tar.gz
lib/new_relic/build.rb
.pryrc
.tm_properties
.bundle
.yardoc
artifacts/
test/performance/script/log/
