<html xmlns="http://www.w3.org/1999/xhtml"
    xml:lang="en" lang="en">
<head>
<%= javascript_include_tag :defaults %>
</head>
<body>
<h1>NewRelic RPM, Developer Edition</h1>

<table>
	<tr>
		<td>R/T</td>
		<td>URL</td>
		<td>DB Read</td>
		<td>DB Write</td>
	</tr>
	<% @samples.each do |sample| %>
		<tr>
		<td align=right>
			<%= sample.duration.to_ms %> ms
		</td>
		<td>
			<%= link_to "/#{sample.params[:path]}", :action => :view_sample, :id => sample.sample_id %>
		</td>
		<td align=right>
			<%= sample.database_read_time %> %
		</td>
		<td align=right>
			<%= sample.database_write_time %> %
		</td>
		</tr>
	<% end %>
</table>
</body>