<% sample = object %>
<tr class="<%= cycle('even_row', 'odd_row') %>">
<td align=right nowrap=true>
  <%= Time.at(sample.start_time).strftime "%H:%M:%S" %>
</td>
<td align=right nowrap=true>
  <%= colorize(sample.duration, 1, 2) %> ms
</td>
<td>
  <%= link_to "#{sample.uri}", "show_sample_summary?id=#{sample.sample_id}" %>
</td>
<td>
  <% if sample.profile %>
    <%= link_to "[Profile]", "show_sample_summary?id=#{sample.sample_id}" %>
  <% else %>
    <%= link_to "[Detail]", "show_sample_detail?id=#{sample.sample_id}" %><br/>
    <%= link_to "[SQL (#{sql_segments(sample).size})]", "show_sample_sql?id=#{sample.sample_id}" %>
  <% end %>
</td>
</tr>
