<tr class='<%= cycle('even_row', 'odd_row') %>'>

<td nowrap=true>
<% indent.times do %>
  &nbsp;&nbsp;
<% end %>
<% if segment[:backtrace] %>
<%= link_to segment.metric_name, url_for_source(application_caller(segment[:backtrace])) %>
<% else %>
<%= segment.metric_name %>
<% end%>
<small><%= link_to '?', url_for_metric_doc(segment.metric_name)%></small>
</td>

<td nowrap=true align="right">
  <%= timestamp(segment) %>
</td>
<td nowrap=true align="right">
  <%= segment.duration.to_ms %>
</td>
<td nowrap=true align="right">
  <%= colorize(segment.exclusive_duration) %>
</td>

<td nowrap=true>
  <small>
  <% if segment[:sql_obfuscated] || segment[:sql] %>
    <%= link_to "SQL", explain_sql_url(segment) %> 
  <% end %>
  </small>
</td>
</tr>