<tr>
	<td align=left><small><%= sql_row[0] %></small></td>
	<td align=right><%= link_to "#{sql_row[2].to_ms} ms", :action => :explain_sql, 
			:sql => sql_row[0], :duration => sql_row[2].to_ms %></td>
</tr>