<% segment = sql_row %>
<tr>
  <td align=right><%= segment.entry_timestamp.to_ms %> ms</td>
	<td align=right><%= link_to "#{segment.duration.to_ms} ms", :action => :explain_sql, 
			:id => @sample.sample_id, :segment => segment.segment_id %> </td>
  <td> <%= link_to_source(segment[:backtrace]) %> </td>
	<td align=left><small><%= line_wrap_sql(segment[:sql]) %></small></td>
</tr>