<% trace = segment[:backtrace]%>
<%= 
link_to_function('Show Rails', :id => 'show_rails_link') do |page| 
  page[:full_stack_trace].show
  page[:application_stack_trace].hide
  page[:show_rails_link].hide
  page[:hide_rails_link].show
end %>
<%= 
link_to_function('Hide Rails', :id => 'hide_rails_link', :style => "display: none;") do |page| 
  page[:full_stack_trace].hide
  page[:application_stack_trace].show
  page[:hide_rails_link].hide
  page[:show_rails_link].show
end %>

<div id='application_stack_trace'>
  <%= application_stack_trace(trace, false).collect { |trace_line| write_stack_trace_line(trace_line)}.join("<br/>") %> 
</div>

<div id='full_stack_trace' style="display: none;">
  <%= application_stack_trace(trace, true).collect { |trace_line| write_stack_trace_line(trace_line)}.join("<br/>") %>
</div>
  