<table border="0" cellpadding="5" cellspacing="0">
	<tr class='table_header'>
	<th align=left>Metric</th>
	<th>Count</th>
	<th colspan=2>Exclusive</th>
	<th></th>
	<th colspan=2>Total</th>
   </tr>
	<%= render :partial => 'segment_row', :collection => table %>
</table>
