<table>
	<tr>
		<td valign='middle' align='left'>
		<b>Path:</b> /<%= @sample.params[:path]%><br/>
		<b>Time Stamp:</b> <%= @sample.start_time%><br/>
		<b>Duration:</b> <%= @sample.duration.to_ms%> ms<br/>
		</td>
		<td valign='middle' align='right'>
		</td>
	</tr>
</table>

<%
def show_view(page, id)
	['pie_chart', 'table', 'sql', 'text_dump'].each do |view|
		page[view].hide if page[view]
	end

	page[id].show if page[id]
end
%>

<%= link_to_function("[Pie Chart]") { |page| show_view page, 'pie_chart' } %>
<%= link_to_function("[Table]") { |page| show_view page, 'table' } %>
<%= link_to_function("[SQL]") { |page| show_view page, 'sql' } %>
<%= link_to_function("[Text Dump]") { |page| show_view page, 'text_dump' } %>
<br/>

<div id='pie_chart' align=center>
	<h3>Performance Breakdown</h3>
	<br/>
	<% @pie_chart.width = 800; @pie_chart.height = 300 %>
	<%= @pie_chart.render %>
</div>

<div id='table' align=left>
	<table border>
		<tr>
		<th align=left>Metric</th>
		<th>Count</th>
		<th colspan=2>Exclusive</th>
		<th></th>
		<th colspan=2>Total</th>

		<%= render :partial => 'segment_row', :collection => @sample.breakdown_data %>
	</table>
</div>

<div id='sql'>
	<table border=1>
		<tr>
			<th align=left>SQL</th>
			<th>Duration</th>
		</tr>
		
		<% sql_summary = @sample.sql_summary %>
		
		<%= render :partial => 'sql_row', :collection => @sample.sql_summary %>
	</table>
</div>

<br/>
<% link_to_function("Show Full Text Dump") {|page| page.toggle 'text-dump'} %>
<div id='text_dump'>
<pre>
<%= @sample.to_s %>
</pre>
</div>

<%= update_page_tag {|page| show_view page, 'pie_chart'} %>