{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "plugins": [
    "@typescript-eslint",
    "import"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "env": {
    "node": true,
    "jest": true,
    "es6": true,
    "browser": true
  },
  "settings": {
    "react": {
      "version": "latest"
    }
  },
  "rules": {
    "camelcase": [
      "error",
      {
        "properties": "always"
      }
    ],
    "quotes": [
      "error",
      "single",
      "avoid-escape"
    ],
    "key-spacing": [
      "error",
      {
        "singleLine": {
          "beforeColon": false,
          "afterColon": true
        },
        "multiLine": {
          "beforeColon": false,
          "afterColon": true
        }
      }
    ],
    "eqeqeq": "error",
    "block-scoped-var": "error",
    "complexity": [
      "error",
      {
        "maximum": 20
      }
    ],
    "default-case": "error",
    "dot-location": [
      "error",
      "property"
    ],
    "guard-for-in": "error",
    "no-eval": "error",
    "block-spacing": "error",
    "brace-style": "error",
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "space-before-function-paren": [
      "error",
      "never"
    ],
    "space-before-blocks": "error",
    "prefer-const": "error",
    "no-var": "error",
    "arrow-body-style": "off",
    "arrow-spacing": "error",
    "strict": [
      "error"
    ],
    "no-warning-comments": [
      "warn",
      {
        "terms": [
          "todo",
          "fixme",
          "hack"
        ],
        "location": "anywhere"
      }
    ],
    "semi": [
      "error"
    ],
    "sort-imports": 0,
    "import/order": [2, {
      "groups": ["type", "builtin", "external", "internal", "parent", "sibling", "index", "object"],
      "alphabetize": { "order": "asc", "caseInsensitive": true }
    }],
    "@typescript-eslint/no-non-null-assertion": "off"
  }
}
