name: Continuous Integration

on:
  push:
    branches:
      - main
      - dev
  pull_request:
  schedule:
    - cron:  '0 9 * * *'

jobs:
  build-ruby:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        ruby-version: [2.2.10, 2.3.8, 2.4.10, 2.5.9, 2.6.8, 2.7.4, 3.0.2, jruby-9.2.19.0]
    steps:
      - uses: actions/checkout@v2

      - name: Build Ruby ${{ matrix.ruby-version }}
        uses: ./.github/actions/build-ruby
        with:
          ruby-version: ${{ matrix.ruby-version }}

  unit-tests:
    needs: build-ruby
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
      matrix:
        ruby-version: [2.2.10, 2.3.8, 2.4.10, 2.5.9, 2.6.8, 2.7.4, 3.0.2, jruby-9.2.19.0]

    steps:
      - uses: actions/checkout@v2

      - name: Build Ruby ${{ matrix.ruby-version }}
        uses: ./.github/actions/build-ruby
        with:
          ruby-version: ${{ matrix.ruby-version }}

      - name: Set up mini-envs for ruby version
        uses: kanga333/variable-mapper@master
        with:
          key: ${{ matrix.ruby-version }}
          map: |
            {
              "2.2.10": {
                "rails": "norails,rails51,rails42,rails41,rails40,rails32"
              },
              "2.3.8": {
                "rails": "norails,rails52,rails51,rails42,rails41,rails40,rails32"
              },
              "2.4.10": {
                "rails": "norails,rails52,rails51,rails42,rails32"
              },
              "2.5.9": {
                "rails": "norails,rails61,rails60,rails52,rails51,rails42,rails32"
              },
              "2.6.8": {
                "rails": "norails,rails61,rails60,rails52,rails51,rails42"
              },
              "2.7.4": {
                "rails": "norails,rails61,rails60"
              },
              "3.0.2": {
                "rails": "norails"
              },
              "jruby-9.2.19.0": {
                "rails": "norails,rails51,rails42"
              }
            }

      - name: Start mysql
        run: sudo systemctl start mysql

      - name: Run Unit Tests
        uses: nick-invision/retry@v1.0.0
        with:
          timeout_minutes: 20
          max_attempts: 2
          command:  bundle exec rake test:env[${{ env.rails }}] TESTOPTS="--verbose"
        env:
          DB_PORT: 3306
          MYSQL_PASSWORD: root

  multiverse:
    needs: build-ruby
    runs-on: ubuntu-18.04
    services:
      redis:
        image: redis
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      mongodb:
        image: mongo
        ports:
          - 27017:27017
      rabbitmq:
        image: rabbitmq:latest
        ports:
          - 5672:5672
        options: >-
          --health-cmd "rabbitmqctl node_health_check"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      memcached:
        image: memcached:latest
        ports:
          - 11211:11211
        options: >-
          --health-cmd "timeout 5 bash -c 'cat < /dev/null > /dev/udp/127.0.0.1/11211'"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    strategy:
      fail-fast: false
      matrix:
        multiverse: ["agent;background;background_2;database", "httpclients;httpclients_2", "frameworks;rails;rest"]
        ruby-version: [2.2.10, 2.3.8, 2.4.10, 2.5.9, 2.6.8, 2.7.4, 3.0.2]

    steps:
      - uses: actions/checkout@v2

      - name: Build Ruby ${{ matrix.ruby-version }}
        uses: ./.github/actions/build-ruby
        with:
          ruby-version: ${{ matrix.ruby-version }}

      - name: Start mysql
        run: sudo systemctl start mysql

      - name: Run Multiverse Tests
        uses: nick-invision/retry@v1.0.0
        with:
          timeout_minutes: 60
          max_attempts: 2
          command:  bundle exec rake test:multiverse[group="${{ matrix.multiverse }}",verbose]
        env:
          DB_PORT: 3306
          MYSQL_PASSWORD: root

      - name: Annotate errors
        if: ${{ failure() }}
        uses: ./.github/actions/annotate

  infinite_tracing:
    needs: build-ruby
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
      matrix:
        ruby-version: [2.5.9, 2.6.8, 2.7.4]
    steps:
      - uses: actions/checkout@v2

      - name: Build Ruby ${{ matrix.ruby-version }}
        uses: ./.github/actions/build-ruby
        with:
          ruby-version: ${{ matrix.ruby-version }}

      - name: Run Multiverse Tests
        uses: nick-invision/retry@v1.0.0
        with:
          timeout_minutes: 40
          max_attempts: 6
          command:  bundle exec rake test:multiverse[group=infinite_tracing,verbose]

      - name: Annotate errors
        if: ${{ failure() }}
        uses: ./.github/actions/annotate

  jruby_multiverse:
    needs: build-ruby
    runs-on: ubuntu-18.04
    services:
      redis:
        image: redis
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      mongodb:
        image: mongo
        ports:
          - 27017:27017
      rabbitmq:
        image: rabbitmq:latest
        ports:
          - 5672:5672
        options: >-
          --health-cmd "rabbitmqctl node_health_check"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      memcached:
        image: memcached:latest
        ports:
          - 11211:11211
        options: >-
          --health-cmd "timeout 5 bash -c 'cat < /dev/null > /dev/udp/127.0.0.1/11211'"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    strategy:
      fail-fast: false
      matrix:
        multiverse: [agent, background, background_2, database, frameworks, httpclients, httpclients_2, rails, rest]

    steps:
      - uses: actions/checkout@v2

      - name: Build Ruby jruby-9.2.19.0
        uses: ./.github/actions/build-ruby
        with:
          ruby-version: jruby-9.2.19.0

      - name: Start mysql
        run: sudo systemctl start mysql

      - name: Run Multiverse Tests
        uses: nick-invision/retry@v1.0.0
        with:
          timeout_minutes: 60
          max_attempts: 2
          command:  bundle exec rake test:multiverse[group=${{ matrix.multiverse }},verbose]
        env:
          DB_PORT: 3306
          MYSQL_PASSWORD: root

      - name: Annotate errors
        if: ${{ failure() }}
        uses: ./.github/actions/annotate
