name: JRuby Continuous Integration

on:
  schedule:
    - cron: '0 9 * * *'
  workflow_dispatch:

jobs:
  jruby_unit_tests:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
    steps:
      - name: Configure git
        run: 'git config --global init.defaultBranch main'
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # tag v4.1.7

      - name: Install JRuby
        uses: ruby/setup-ruby@32110d4e311bd8996b2a82bf2a43b714ccc91777 # tag v1.221.0
        with:
          ruby-version: jruby-9.4.9.0

      - name: Bundle
        run: bundle install

      - name: Run Unit Tests
        uses: nick-fields/retry@7152eba30c6575329ac0576536151aca5a72780e # tag v3.0.0
        with:
          timeout_minutes: 30
          max_attempts: 2
          command:  bundle exec rake test:env[norails,rails61]
        env:
          VERBOSE_TEST_OUTPUT: true
          JAVA_OPTS: --add-opens java.base/sun.nio.ch=org.jruby.dist --add-opens java.base/java.io=org.jruby.dist
          JRUBY_OPTS: --dev

  jruby_multiverse:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        suite: [active_support_broadcast_logger, active_support_logger, activemerchant, agent_only, async_http, bare, deferred_instrumentation, grape, high_security, httpclient, httprb, httpx, json, logger, marshalling, rack, resque, roda, roda_agent_disabled, ruby_openai, sequel, sinatra, sinatra_agent_disabled, stripe, thread, tilt, typhoeus]

    steps:
      - name: Configure git
        run: 'git config --global init.defaultBranch main'

      - name: Check out the source code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # tag v4.1.7

      - name: Install JRuby
        uses: ruby/setup-ruby@32110d4e311bd8996b2a82bf2a43b714ccc91777 # tag v1.221.0
        with:
          ruby-version: jruby-9.4.9.0

      - name: Bundle
        run: bundle install

      - name: Run Multiverse Tests
        uses: nick-fields/retry@7152eba30c6575329ac0576536151aca5a72780e # tag v3.0.0
        with:
          timeout_minutes: 20
          max_attempts: 3
          command: "bundle exec rake test:multiverse[${{ matrix.suite }}]"
        env:
          VERBOSE_TEST_OUTPUT: true
          SERIALIZE: 1
          JAVA_OPTS: --add-opens java.base/sun.nio.ch=org.jruby.dist --add-opens java.base/java.io=org.jruby.dist -Xmx4g -Xms512m
          JRUBY_OPTS: --dev

      - name: Annotate errors
        if: ${{ failure() }}
        uses: ./.github/actions/annotate
