name: Lambda Release

on:
  workflow_run:
    workflows: ["Release"]
    types:
      - completed

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      repository-projects: write
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # tag v4.2.2
      with:
        fetch-depth: 0

    - uses: ruby/setup-ruby@eaecf785f6a34567a6d97f686bbb7bccc1ac1e5c # tag v1.237.0
      with:
        ruby-version: 3.4

    - name: Create release tags for Lambda and K8s Init Containers
      run: |
        RELEASE_TITLE="New Relic Ruby Agent v${GITHUB_REF_NAME}.0"
        RELEASE_TAG="v${GITHUB_REF_NAME}.0_ruby"
        RELEASE_NOTES="Automated release for [Ruby Agent v${GITHUB_REF_NAME}](https://github.com/newrelic/newrelic-ruby-agent/releases/tag/v${GITHUB_REF_NAME})"
        gh auth login --with-token <<< $GH_RELEASE_TOKEN
        echo "newrelic/newrelic-lambda-layers - Releasing ${RELEASE_TITLE} with tag ${RELEASE_TAG}"
        gh release create "${RELEASE_TAG}" --title=${RELEASE_TITLE} --repo=newrelic/newrelic-lambda-layers --notes=${RELEASE_NOTES}
        echo "newrelic/newrelic-agent-init-container - Releasing ${RELEASE_TITLE} with tag ${RELEASE_TAG}"
        gh release create "${RELEASE_TAG}" --title=${RELEASE_TITLE} --repo=newrelic/newrelic-agent-init-container --notes=${RELEASE_NOTES}
      env:
        GH_RELEASE_TOKEN: ${{ secrets.GH_RELEASE_TOKEN }}
