name: Performance Tests

on:
  schedule:
    - cron:  '0 9 * * 0'
  workflow_dispatch:

jobs:
  check_branch_changes:
    runs-on: ubuntu-22.04
    outputs:
      changed: ${{ steps.branch_change_output.outputs.has-new-commits }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # tag v6.0.2
      - name: check branch changes
        id: branch_change_output
        uses: adriangl/check-new-commits-action@e6471f4fda990ebdb3bf44726371e1ad45ac4d37 # tag v1.0.7
        with:
          seconds: 604800
          branch: 'dev'

  run_performance_tests:
    runs-on: ubuntu-22.04
    needs: check_branch_changes
    if: ${{ needs.check_branch_changes.outputs.changed == 'true' }}
    defaults:
      run:
        working-directory: ./test/performance
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # tag v6.0.2
        with:
          ref: 'main'
      - uses: ruby/setup-ruby@8d27f39a5e7ad39aebbcbd1324f7af020229645c # tag v1.287.0
        with:
          ruby-version: 3.4
      - run: bundle install
      - run: bundle exec script/runner -B
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # tag v6.0.2
      - run: bundle
      - run: bundle exec script/runner -C -M > performance_results.md
      - name: Save performance results
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # tag v6.0.0
        with:
          name: performance-test-results-${{ matrix.ruby-version }}
          path: ./test/performance/performance_results.md
      - name: Slack results
        uses: adrey/slack-file-upload-action@903be3678c88966c762193f06530c39178b44d68 # tag v1.0.5
        with:
          token: ${{ secrets.RUBY_GITHUB_ACTIONS_BOT_WEBHOOK }}
          path: ./test/performance/performance_results.md
          channel: ruby-agent-notifications
