name: Performance Tests

on:
  pull_request:
    branches:
      - main
  schedule:
    - cron:  '0 9 * * 0'
  workflow_dispatch:

jobs:
  check_branch_changes:
    runs-on: ubuntu-22.04
    outputs:
      changed: ${{ steps.branch_change_output.outputs.has-new-commits }}
    steps:
      - uses: actions/checkout@v3
      - name: check branch changes
        id: branch_change_output
        uses: adriangl/check-new-commits-action@v1
        with:
          seconds: 604800
          branch: 'dev'

  run_performance_tests:
    runs-on: ubuntu-22.04
    needs: check_branch_changes
    if: ${{ needs.check_branch_changes.outputs.changed == 'true' }}
    defaults:
      run:
        working-directory: ./test/performance
    steps:
      - uses: actions/checkout@v3
        with:
          ref: 'main'
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
      - run: bundle
      - run: script/runner -B
      - uses: actions/checkout@v3
      - run: bundle
      - run: script/runner -C -M > performance_results.md
      - name: Save performance results
        uses: actions/upload-artifact@v3
        with:
          name: performance-test-results
          path: ./test/performance/performance_results.md
      - name: Slack results
        uses: adrey/slack-file-upload-action@1.0.5
        with:
          token: ${{ secrets.RUBY_GITHUB_ACTIONS_BOT_WEBHOOK }}
          path: ./test/performance/performance_results.md
          channel: ruby-agent-notifications
