name: PR Closed

on:
  pull_request:
    types:
      - closed

jobs:
  issue_closer:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Clone the repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # tag v6.0.2
      - name: issue_closer Action
        uses: ./.github/actions/issue_closer
        with:
          token: ${{ secrets.GITHUB_TOKEN }} # permission needed to read PR comments and close issues
