name: PR Closed

on:
  pull_request:
    types:
      - closed

jobs:
  issue_closer:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Clone the repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # tag v6.0.0
      - name: issue_closer Action
        uses: ./.github/actions/issue_closer
        with:
          token: ${{ secrets.GITHUB_TOKEN }} # permission needed to read PR comments and close issues
