name: Create Prerelease

on:
  workflow_dispatch:

jobs:
  create_prerelease:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
      pull-requests: write
    steps:
    - name: Install Ruby 3.4
      uses: ruby/setup-ruby@8d27f39a5e7ad39aebbcbd1324f7af020229645c # tag v1.287.0
      with:
        ruby-version: 3.4

    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # tag v6.0.2

    - run: bundle install

    - name: Update files with new version
      run: bundle exec rake newrelic:version:bump

    - name: Update newrelic.yml
      run: bundle exec rake newrelic:update_newrelicyml

    - name: Set tag name
      run: echo "prerelease_tag=$(bundle exec rake newrelic:version:current)-pre" >> $GITHUB_ENV

    - name: Create pull request
      run: |
        git checkout -b "prerelease_updates_${{ env.prerelease_tag }}"
        git add --all
        git config --global user.email ${{ secrets.EMAIL }}
        git config --global user.name 'newrelic-ruby-agent-bot'
        git commit -m "bump version"
        git push --set-upstream origin "prerelease_updates_${{ env.prerelease_tag }}"
        gh pr create --label $LABEL --title "$TITLE" --body "$BODY"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        TITLE: "Prerelease ${{env.prerelease_tag}}"
        BODY: "Updates the version number, changelog, and newrelic.yml (if it needs updating). This is an automated PR."
        LABEL: prerelease

    - name: Create pre release tag
      uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # tag v2.5.0
      with:
        tag_name: ${{ env.prerelease_tag }}
        name: ${{ env.prerelease_tag }}
        target_commitish: prerelease_updates_${{ env.prerelease_tag }}
        prerelease: true
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
