name: Create Prerelease

on:
  workflow_dispatch:

jobs:
  create_prerelease:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
      pull-requests: write
    steps:
    - name: Install Ruby 3.4
      uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 # tag v1.268.0
      with:
        ruby-version: 3.4

    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # tag v5.0.0

    - run: bundle install

    - name: Update files with new version
      run: bundle exec rake newrelic:version:bump

    - name: Update newrelic.yml
      run: bundle exec rake newrelic:update_newrelicyml

    - name: Set tag name
      run: echo "prerelease_tag=$(bundle exec rake newrelic:version:current)-pre" >> $GITHUB_ENV

    - name: Create pull request
      run: |
        git checkout -b "prerelease_updates_${{ env.prerelease_tag }}"
        git add --all
        git config --global user.email ${{ secrets.EMAIL }}
        git config --global user.name 'newrelic-ruby-agent-bot'
        git commit -m "bump version"
        git push --set-upstream origin "prerelease_updates_${{ env.prerelease_tag }}"
        gh pr create --label $LABEL --title "$TITLE" --body "$BODY"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        TITLE: "Prerelease ${{env.prerelease_tag}}"
        BODY: "Updates the version number, changelog, and newrelic.yml (if it needs updating). This is an automated PR."
        LABEL: prerelease

    - name: Create pre release tag
      uses: softprops/action-gh-release@6da8fa9354ddfdc4aeace5fc48d7f679b5214090 # tag v2.4.1
      with:
        tag_name: ${{ env.prerelease_tag }}
        name: ${{ env.prerelease_tag }}
        target_commitish: prerelease_updates_${{ env.prerelease_tag }}
        prerelease: true
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
