name: Create Release PR

on:
  pull_request:
    types:
      - closed

jobs:
  create_prerelease:
    if: ${{ (github.event.pull_request.merged == true) && (contains(github.event.pull_request.labels.*.name, 'prerelease')) }}
    runs-on: ubuntu-22.04
    permissions:
      contents: write
      pull-requests: write
    steps:
    - name: Install Ruby 3.4
      uses: ruby/setup-ruby@4c24fa5ec04b2e79eb40571b1cee2a0d2b705771 # tag v1.278.0
      with:
        ruby-version: 3.4

    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # tag v6.0.2

    - run: bundle install

    - name: Set agent version
      run: echo "agent_version=$(bundle exec rake newrelic:version:current)" >> $GITHUB_ENV

    - name: Create pull request
      run: gh pr create --draft --base "main" --title "$TITLE" --body "$BODY"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        TITLE: "Release ${{ env.agent_version }}"
        BODY: "Automated PR for ${{ env.agent_version}} release"
