name: Create Release PR

on:
  pull_request:
    types:
      - closed

jobs:
  create_prerelease:
    if: ${{ (github.event.pull_request.merged == true) && (contains(github.event.pull_request.labels.*.name, 'prerelease')) }}
    runs-on: ubuntu-22.04
    permissions:
      contents: write
      pull-requests: write
    steps:
    - name: Install Ruby 3.4
      uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 # tag v1.268.0
      with:
        ruby-version: 3.4

    - name: Checkout code
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # tag v6.0.0

    - run: bundle install

    - name: Set agent version
      run: echo "agent_version=$(bundle exec rake newrelic:version:current)" >> $GITHUB_ENV

    - name: Create pull request
      run: gh pr create --draft --base "main" --title "$TITLE" --body "$BODY"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        TITLE: "Release ${{ env.agent_version }}"
        BODY: "Automated PR for ${{ env.agent_version}} release"
