name: Slack Notifications

on:
  schedule:
    - cron:  '0 10 * * *'

jobs:
  gem_notifications:
    runs-on: ubuntu-22.04
    steps:
      - uses: ruby/setup-ruby@7d3497fd78c07c0d84ebafa58d8dac60cd1f0763 # tag v1.199.0
        with:
          ruby-version: 3.3
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # tag v4.1.7
      - run: gem install httparty
      - name: Check for outdated gems
        run: ruby .github/workflows/scripts/slack_notifications/gem_notifier.rb ${{ env.gems }}
        env:
          SLACK_GEM_NOTIFICATIONS_WEBHOOK: ${{ secrets.SLACK_GEM_NOTIFICATIONS_WEBHOOK }}
          gems:
            "activerecord
            bunny
            dalli
            delayed_job
            elasticsearch
            excon
            grape
            http
            httpclient
            mongo
            puma
            rack
            rails
            rake
            rdkafka
            redis
            resque
            roda
            ruby-openai
            sidekiq
            sinatra
            stripe
            tilt
            unicorn
            view_component"

  cve_notifications:
    runs-on: ubuntu-22.04
    steps:
      - uses: ruby/setup-ruby@7d3497fd78c07c0d84ebafa58d8dac60cd1f0763 # tag v1.199.0
        with:
          ruby-version: 3.3
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # tag v4.1.7
      - run: gem install httparty
      - run: gem install feedjira
      - name: Check for CVEs
        run: ruby .github/workflows/scripts/slack_notifications/cve_notifier.rb
        env:
          SLACK_GEM_NOTIFICATIONS_WEBHOOK: ${{ secrets.SLACK_GEM_NOTIFICATIONS_WEBHOOK }}
