name: Slack Notifications

on:
  schedule:
    - cron:  '0 10 * * *'

jobs:
  gem_notifications:
    runs-on: ubuntu-22.04
    steps:
      - uses: ruby/setup-ruby@v1.90.0
        with:
          ruby-version: 3.2
      - uses: actions/checkout@v2
      - run: gem install httparty
      - name: Check for outdated gems 
        run: ruby .github/workflows/scripts/slack_notifications/gem_notifier.rb ${{ env.gems }}
        env:
          SLACK_GEM_NOTIFICATIONS_WEBHOOK: ${{ secrets.SLACK_GEM_NOTIFICATIONS_WEBHOOK }}
          gems:
            "activerecord 
            bunny
            dalli
            delayed_job
            excon
            http
            httpclient
            mongo
            puma
            sidekiq
            sinatra
            tilt
            rack
            rails
            rake 
            redis
            resque
            unicorn"

  cve_notifications:
    runs-on: ubuntu-22.04
    steps:
      - uses: ruby/setup-ruby@v1.90.0
        with:
          ruby-version: 3.2
      - uses: actions/checkout@v2
      - run: gem install httparty
      - run: gem install feedjira
      - name: Check for CVEs
        run: ruby .github/workflows/scripts/slack_notifications/cve_notifier.rb
        env:
          SLACK_GEM_NOTIFICATIONS_WEBHOOK: ${{ secrets.SLACK_GEM_NOTIFICATIONS_WEBHOOK }}
