name: Snyk Check

on:
  schedule:
    - cron: "0 7 * * *"
  pull_request:
    branches:
      - main

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  security:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1.90.0
        with:
          ruby-version: 3.2
      - name: Bundle
        run: bundle install
      - name: Run Snyk
        uses: snyk/actions/ruby@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: monitor
